@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100;200;400;700&display=swap');
/* font-family: 'Big Shoulders Stencil Text', cursive; */
/* ---- */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chakra+Petch:wght@400;600;700&family=Jockey+One&display=swap');
/* font-family: 'Anton', sans-serif;
font-family: 'Chakra Petch', sans-serif;
font-family: 'Jockey One', sans-serif; */
/* ---- */
/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Home */
/* Body */
body {
    background-color: #777777;
}
/* header */
header {
    font-weight: bold;
    width: 100%;
}
/* Navbar */
.bg-person {
    background-color: rgb(35, 31, 30);
}
.logo {
    width: 80px;
    border-radius: 50%;
    border: 2px solid rgb(62, 74, 112);
}
.title-logo {
    font-size: 3.2rem;
    font-family: 'Jockey One', sans-serif;
    color: rgb(62, 74, 112);
}
.char-dif-logo {
    color: rgb(100, 255, 255);
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
i {
    font-size: 2rem;
    color: rgb(62, 74, 112);
}
.active {
    color: rgb(62, 74, 112) !important;
}
/* hero */ 
.hero {
    height: 90vh;
    background-image:linear-gradient(rgba(62,74,112,0.5), rgba(62,74,112,0.9)), 
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.hero-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(100, 255, 255);
    margin: 0 4rem;
}
.hero-info h1 , .banner-contacto h1 {
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-weight: 700;
}
.hero-info h2 {
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-weight: 400;
}
.hero-info p, .banner-contacto p {
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 1.2rem;
}
.cards-home {
    background-color: rgb(62, 74, 112);
    color: black;
}
/* Footer */
footer {
    background-color: rgb(35, 31, 30);
    color: rgb(108, 147, 164);
    margin-top: 4rem;
}
.bi-star-fill {
    font-size: 1rem;
    color: yellow;
}
.footer-social h1 {
    font-size: 1.5rem;
}
.footer-social ul {
    list-style: none;
}
.footer-social ul li{
    padding: .5rem;
}
.social-icons {
    color: rgb(100, 255, 255);
    font-size: 1.5rem;
}
.social-icons:hover {
    position: relative;
    bottom: 2px;
    text-shadow: 0px 8px 0px black;
}
.bi-instagram:hover {
    color: #d92e7f;
}
.bi-twitter:hover {
    color: #00acee;
}
.bi-whatsapp:hover {
    color: #25d366;
}
.bi-github:hover {
    color: #fff;
}

/* Contacto */
.banner-contacto {
    height: 50vh;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgb(0, 0, 0))
    ,url(../images/hero.jpg);
    font-family: 'Big Shoulders Stencil Text', cursive;
    color: rgb(100, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario {
    max-width: 750px;
    background-color: rgb(62, 74, 112);
    padding: 2rem;
    border-radius: 1rem;
}


/* Sobre Nosotros */

.carousel-img, .carousel-slide {
    max-height: 750px;
    border-radius: .3rem;
}

h5 {
    color: rgb(100, 255, 255);
}

.carousel-text {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Medias Querys */
@media (max-width: 1000px) {
        .hero {
            margin-bottom: 4rem;
        }
        .cards-container {
            flex-direction: column;
            margin: 0.5rem;
        }
        .cards-home {
            margin: 0 auto !important;
        }
}