@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100;200;400;700&display=swap');
/* font-family: 'Big Shoulders Stencil Text', cursive; */
/* ---- */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chakra+Petch:wght@400;600;700&family=Jockey+One&display=swap');
/* font-family: 'Anton', sans-serif;
font-family: 'Chakra Petch', sans-serif;
font-family: 'Jockey One', sans-serif; */
/* ---- */
/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Home */
/* Body */
body {
    background-color: #777777;
}
/* header */
header {
    font-weight: bold;
    width: 100%;
}
/* Navbar */
.bg-person {
    background-color: rgb(35, 31, 30);
}
.logo {
    width: 80px;
    border-radius: 50%;
    border: 2px solid rgb(62, 74, 112);
}
.title-logo {
    font-size: 3.2rem;
    font-family: 'Jockey One', sans-serif;
    color: rgb(62, 74, 112);
}
.char-dif-logo {
    color: rgb(100, 255, 255);
}
.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
i {
    font-size: 2rem;
    color: rgb(62, 74, 112);
}
.active {
    color: rgb(62, 74, 112) !important;
}
/* hero */ 
.hero {
    height: 90vh;
    background-image:linear-gradient(rgba(62,74,112,0.5), rgba(62,74,112,0.9)), 
    url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.hero-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(100, 255, 255);
    margin: 0 4rem;
}
.hero-info h1 , .banner-contacto h1 {
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-weight: 700;
}
.hero-info h2 {
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-weight: 400;
}
.hero-info p, .banner-contacto p {
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 1.2rem;
}
.cards-home {
    background-color: rgb(62, 74, 112);
    color: black;
}
/* Footer */
footer {
    background-color: rgb(35, 31, 30);
    color: rgb(108, 147, 164);
    margin-top: 4rem;
}
.bi-star-fill {
    font-size: 1rem;
    color: yellow;
}
.footer-social h1 {
    font-size: 1.5rem;
}
.footer-social ul {
    list-style: none;
}
.footer-social ul li{
    padding: .5rem;
}
.social-icons {
    color: rgb(100, 255, 255);
    font-size: 1.5rem;
}
.social-icons:hover {
    position: relative;
    bottom: 2px;
    text-shadow: 0px 8px 0px black;
}
.bi-instagram:hover {
    color: #d92e7f;
}
.bi-twitter:hover {
    color: #00acee;
}
.bi-whatsapp:hover {
    color: #25d366;
}
.bi-github:hover {
    color: #fff;
}

/* Sobre Nosotros */

.carousel-img, .carousel-slide {
    max-height: 750px;
    border-radius: .3rem;
}

h5 {
    color: rgb(100, 255, 255);
}

.carousel-text {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Contacto */

.banner-contacto, .banner-servicios {
    height: 50vh;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgb(0, 0, 0))
    ,url(../images/hero.jpg);
    font-family: 'Big Shoulders Stencil Text', cursive;
    color: rgb(100, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formulario {
    max-width: 750px;
    background-color: rgb(62, 74, 112);
    padding: 2rem;
    border-radius: 1rem;
}

/* Servicios */

.banner-servicios {
    background-image: linear-gradient(90deg, rgb(0,0,0), rgba(77,77,77,0.6))
    ,url('../images/hero.jpg');
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.banner-servicios h1 {
    font-size: 5rem;
    margin: 2rem 1rem;
}
.cards-servicios-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}
.cards {
    border-radius: .2rem;
    background-color: rgb(62, 74, 112);
    padding: 1rem;
    gap: 1rem;
    margin-top: 1rem;
    display: flex;
}
.cards img {
    width: 50%;
    border-radius: .2rem;

}
.service-title {
    font-family: 'Anton', sans-serif;
    color: rgb(108, 147, 164);
}
.card-info {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
}
.card-info p {
    font-weight: bold;
    color: black;
}
.card-info a {
    text-decoration: none;
    font-family: 'Jockey One', sans-serif;
    background-color: rgb(108, 147, 164);
    padding: .5rem;
    color: rgb(0, 0, 0);    
    align-self: flex-end;
    border: 2px solid black;
}
.card-info a:hover {
    color: rgb(100, 255, 255);
    margin-bottom: 0;
    border: 2px solid rgb(100, 255, 255);
    text-shadow: 2px 2px 10px rgb(100, 255, 255), 2px 2px 20px rgb(100, 255, 255);
    transform: scale(1.1);
    transition: .5s;
}

/* Productos */

.btn-color {
    background-color: rgb(62, 74, 112);
    font-weight: bold;
    color: black;
}

.categorias, .search-bar {
    display: inline-block;
}
.productos-container {
    margin-top: 3rem;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: .7rem;
    padding: 1rem;
}
.producto {
    background-color: rgba(0, 0, 0, 0.6);
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.producto img {
    width: 300px;
    height: 300px;
    border-radius: 10px 10px 0 0;
}
.producto .productos-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.producto .stock {
    color: #25d366;
    text-decoration: underline;
}
.producto .stock-no {
    color: red;
}
.producto .stock-no::before {
    content: 'No ';
}
.productos-info > a {
    text-decoration: none;
    display: inline-block;
    padding: .5rem;
    margin-bottom: .5rem;
    background-color: rgb(62, 74, 112);
    color: black;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 0;
}
.productos-info > a:hover {
    color: white;
    border: 1px solid white;
}

/* Medias Querys */
@media (max-width: 1000px) {
    .hero {
        margin-bottom: 4rem;
    }
    .cards-container {
        flex-direction: column;
        margin: 0.5rem;
    }
    .cards-home {
        margin: 0 auto !important;
    }
    .cards-servicios-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 780px) {
    .nav-list {
        margin-right: 2rem !important;
    }
}

@media (max-width: 576px) {
    .footer-container {
        display: flex;
        flex-direction: column-reverse !important;
        justify-content: center;
        align-items: center;
    }
    .social-list, .footer-info, .footer-social {
        padding: 0;
        margin: 0 !important;
    }
    .cards {
        flex-direction: column;
        align-items: center;
    }
    .cards img {
        width: 100%;
    }
    .card-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-info a {
        align-self: center;
    }
    .productos-dd-sb {
        flex-direction: column-reverse;
        align-items: flex;
        gap: 2rem;
    }
    .search-bar {
        max-width: 310px;
        align-self: center;
    }
}

@media (max-width: 337px) {
     .producto {
        width: auto;
    }
    .producto img {
        width: 100%;
    }
}